{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>
      {% block title %}
      Записи сообщества: {{ group.title }}
      {% endblock %}
    </title>
    <div class="container py-6">
      <marquee scrollamount="10" style="color: #00BFFF;
      font-size: 40px;
      font-weight: bolder;
      line-height: 150%;
      text-shadow: #000000 0px 1px 1px;">
      Здесь могла быть ваша реклама &#129315;
      </marquee>
    <a href="{% url 'posts:main_page' %}">
      <h3>Главная страница</h3>
    </a>
    </div>
  </head>
  <body style="background-color: #DCDCDC">
    <div class="container py-6">
    <h1>{{ text }}</h1>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}
      Контент не подвезли :(
      {% endblock %}
    </main>
    <footer>
      {% include 'includes/footer.html' %}
    </footer>
  </div>
  </body>
</html>