{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор этого проекта - Воронов Антон</h1>
<p>
  <ul> Ссылки на мои профили:
    <li><a href="https://github.com/AntonVoronovYAR/" class="btn btn-link"> Ссылка на GitHub<a></li>
    <li><a href="https://vk.com/beerdancer" class="btn btn-link"> Ссылка на ВК<a></li>
  </ul>
  Мне - 33 года. Проработал 10 лет в Сбербанке и после сокращения решил кардинально поменять сферу деятельности.
  Так как на работе очень нравилось работать в Excel, делать отчеты и работать с "цифрами", решил "войти в айти" &#128513;.
</p>
<p>
  <center>Я и мой юный код-ревьювер &#128151; <s>ржет</s> смотрит на код моего проекта: </center>
</p>
<p>
<center> <img src="{% static 'img/she_and_i.jpg' %}"> </center>
</p>
{% endblock %} 